  
  .maintitletext {
        color: #D0F8FF;
        margin-bottom: 0;
        font-size: 40px;
        text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
                 0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
                 0 0 40px #A5F1FF;
  }